---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Karan Jadhav">
	<div class="text-center text-white">
		<h1 class="font-medium text-2xl mb-8 tracking-tighter">
			hey, I'm Karan Jadhav 👋
		</h1>
	</div>

	<div class="mt-7 px-7 md:px-0 prose prose-invert">
		<div class="space-y-7">
			<p>
				I'm a software engineer based in Navi Mumbai, India. I have a
				passion for building software that improves the lives of people.
				I love to solve problems and create things that make a
				difference.
			</p>

			<p>
				I'm currently working at {" "}
				<a href="https://intensel.net">Intensel LTD</a> as a Software Engineer,
				developing a cutting-edge platform that helps businesses understand
				and manage their climate risk effectively. My work is geared towards
				making a significant impact on how companies navigate environmental
				challenges.
			</p>

			<p>
				Feel free to reach out and say hi on
				<a href="https://twitter.com/IamKaranJadhav">Twitter</a> or
				<a href="https://www.linkedin.com/in/jadhav-karan/">
					LinkedIn</a
				>. I'm always open to connecting with like-minded individuals
				and exploring new opportunities.
			</p>
		</div>
	</div>

	<style></style>
</MainLayout>
