<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline src="https://cdn.jsdelivr.net/npm/jquery"></script>
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.35.2/js/jquery.terminal.min.js"
        ></script>
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.35.2/js/unix_formatting.min.js"
        ></script>
        <link
            href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.35.2/css/jquery.terminal.min.css"
            rel="stylesheet"
        />
        <title>Python Console</title>
    </head>
    <body>
        <div id="loading"></div>
    </body>
</html>

<style>
    .terminal {
        --size: 1.5;
        --color: rgba(255, 255, 255, 0.8);
    }
    .noblink {
        --animation: terminal-none;
    }
    body {
        background-color: black;
    }
    #loading {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 50%;
        left: 50%;
        border: 3px solid rgba(172, 237, 255, 0.5);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }
    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>

<script src="../scripts/py-console.js"></script>
